
.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
.form-control {
    margin: 1rem 0;
}

.product-form > .form-control > label,
.product-form > .form-control > input{
    display: block;
    width: 100%;
}

.product-form > .form-control > input {
    border: 1px solid #9a5c9a;
    font: inherit;
    border-radius: 2px;
}

button {
    border: 1px solid #9a5c9a;
    background: white;
    color: #9a5c9a;
    border-radius: 3px;
}

button:hover {
    cursor: pointer;
    background-color: #9a5c9a;
    color: white;
}